<!doctype html>
<html lang="en">

<head>
    <link rel="manifest" href="/manifest.json">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="pboueke - personal page">
    <meta name="keywords" content="pboueke,pedro,hollanda,boueke,hexagonal,grid,pongo,pong,blog,simoom,wvc">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="theme-color" content="#7094a2"/>

    <link rel="shortcut icon" href="{{ site.baseurl }}/public/img/favicon.ico">

    <!-- Add to home screen for Safari on iOS-->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <meta name="apple-mobile-web-app-title" content="pboueke - personal page"/>
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/public/img/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/img/apple-touch-icon-144-precomposed.png">

    <!-- Add to home screen for Windows-->
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/public/img/apple-touch-icon-144-precomposed.png"/>
    <meta name="msapplication-TileColor" content="#7094a2"/>

    <title>
      {% if page.title == "pboueke" %}
        {{ site.title }} &middot; {{ site.tagline }}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif %}
    </title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
