---
layout: default
---

{% include post_header.html %}

<style>
.post {
  max-width: 800px;
  width: 65vw;
  margin: auto auto 30px auto;
  text-align: center;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  background: #FEFEFE;
  padding-bottom: 30px;
}
.comments {
  padding: 30px 0 30px 0;
}
@media screen and (max-width: 750px) {
  .post, .divide {
    width: 85vw;
  }
}
.post > * {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.post img {
  display: flex;
  margin: auto;
  max-height: 300px;
  max-width: 90%;
}
.post h1,h2,h3,h4,h5 {
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 15px;
  color: #7094a2;
}
.post p,li {
  text-align: left;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  font-size: 20px;
}
.nmb {
  margin-bottom: 0;
}
.post hr {
  margin: 25px 0 10px 0;
}
.post-link, a {
  color: #7094a2;
  text-decoration: none;
}
.post-date {
  display: block;
  margin: auto auto 20px auto;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 3px;
  }
.post-title {
  padding: 0 20px 0 20px;
  border-bottom: 3px solid;
  border-radius: 3px;
}
.tag {
  color: #7094a2;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
.tags {
  margin-bottom: 10px;
}
img {
  max-width: 700px
}
p + p {
    margin-bottom: 35px;
}
p {
    line-height: 35px;
}
</style>

<div class="post">
  <h2><a class="post-title post-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></h2>
  <span class="post-date">{{ page.date | date_to_long_string  }}</span>
  <div class="tags">
  {% for tag in page.tags %}
    <span class="tag" href="{{ site.baseurl }}/tag/{{ tag }}">#{{ tag }}</span>
  {% endfor %}
  </div>
  {% if page.image %}
    <img src="{{ page.image }}" />
  {% endif %}
  {% if page.html %}
    {{ page.html }}
  {% endif %}
  <hr>
  <div>
    {{ content | markdownify }}
  </div>
</div>

<div class="post comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
  var disqus_shortname = 'pboueke'

  var disqus_config = function () {
  this.page.url = "{{ site.baseurl }}{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = encodeURI("{{ page.date }} {{ page.title }}"); // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://http-pboueke-github-io.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>

{% include footer.html %}
